@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

html {
 box-sizing: border-box;
 scroll-behavior: smooth;
}

body {
 background: #000000;
 /* fallback for old browsers */
 background: -webkit-linear-gradient(to bottom, #434343, #000000);
 /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to bottom, #434343, #000000);
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 color: #ffffff;
}

h1,
h2,
h3 {
 font-family: 'Montserrat', sans-serif;
 color: yellow;
}

p,
a {
 font-family: 'Roboto', sans-serif;
}

.main {
 margin-left: 460px;
 /* Same width as the sidebar + left position in px */
 font-size: 20px;
 /* Increased text to enable scrolling */
 margin-right: 1rem;
 padding: 0px 20px;
}

a {
 color: red;
 text-decoration: none;
}

.menu {
 background: #000000;
 width: 450px;
 height: 100%;
 position: fixed;
 z-index: 1;
 top: 0;
 left: 0;
 overflow-x: hidden;
 padding: 8px 10px;
}

.menu ol,
.menu li {
 list-style-type: none;
}

.menu a {
 padding: 6px 8px 6px 16px;
 text-decoration: none;
 font-size: 12px;
 color: rgb(243, 33, 33);
 display: block;

}

.menu a:hover {
 color: pink;
}

.link-wyksztalcenie {
 color: green !important;
 text-transform: uppercase;
}

.wyksztalcenie-menu ol {
 display: none;
}

.wyksztalcenie-menu:hover ol {
 display: block;
}

.wyksztalcenie-lista :hover {
 display: block !important;
}

.lista-gier .tytul-lista {
 list-style-type: upper-roman !important;
 text-transform: initial !important;
}

.tytul {
 font-style: italic;
}

.producent {
 text-transform: capitalize;
}

hr.style18 {
 height: 30px;
 border-style: solid;
 border-color: orange;
 border-width: 1px 0 0 0;
 border-radius: 20px;
}

hr.style18:before {
 display: block;
 content: "";
 height: 30px;
 margin-top: -31px;
 border-style: solid;
 border-color: orangered;
 border-width: 0 0 1px 0;
 border-radius: 20px;
}

@media print {
 .menu {
  display: none;
 }

 .main {
  margin: auto;

 }
}