body {
 /* Set "section" to 0 */
 counter-reset: section;
}

h2 {
 /* Set "subsection" to 0 */
 counter-reset: subsection;
}

h2::before {
 counter-increment: section;
 content: "Rozdział " counter(section) ". ";
}

h3::before {
 counter-increment: subsection;
 content: counter(section) "." counter(subsection) " ";
}
